<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="ID" value="id"/>
		<add key="PW" value="pw"/>
		<add key="ChromePath" value="C:\chrome-win\chrome.exe"/>
	</appSettings>
</configuration>